<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/AnimalCss/formAnimal.css">
</head>
<body>
<h1>Cadastro de Animais</h1>
	<form class="form" action="salvarAnimal" method="phost">
	
	 >
		<input type="hidden" th:value="${animais?.codigo}" name="codigo">
			<table class="table">
				<tr>
					<td>Nome</td>
					<td><input type="text" name="nome" th:value="${animais?.nome}">
					</tr>
					
					<tr>					
					<td>Raça</td>
					<td><input type="text" name="raca" th:value="${animais?.raca}">
					</tr>
					
					<tr>
					<td>Porte</td>
					<td><input type="text" name="porte" th:value="${animais?.porte}">
					</tr>
					
					<tr>
					<td>Especie</td>
					<td><input type="text" name="especie" th:value="${animais?.especie}">
					</tr>
					
					
					<td>Cliente:</td>
					<td>
						<select name="cliente.id">
							<option th:each="c:${clientes}" th:text="${c.nome}" th:value="${c.id}"></option>
						</select>
					</td>
						
																
			</table>
			<tr><button type="submit" class="botao">Salvar</button>	
										
					</tr>		
	</form>
</body>
</html>