<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form method="post" class="form">	
	<table class="table">
	
	<!-- Altera o animal sem acrescentar um novo cliente -->
	<input type="hidden" th:value="${produtos?.id}" name="id">
	<h1>Cadastro de Produto</h1>
		<tr>
			<td>Nome:</td>
			<td><input type="text" name="nome" th:value="${produtos?.nome}"></td>
		</tr>
		
		<tr>
			<td>Tipo:</td>
			<td><input type="text" name="tipo" th:value="${produtos?.tipo}"></td>			
		</tr>
		
		<tr>
			<td>quantidade:</td>
			<td><input type="number" name="qtd" th:value="${produtos?.qtd}"></td>
		</tr>	 
		
		<td><button type="submit">Salvar</button></td>
			
			
	</table>
</form>

</body>
</html>